!!!5
html
  head
    title Itinerater
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Itinerater
    .container
      block container
      .main-content
        block content
      block sidebar
    footer
      p Running on node with Express, Jade and Stylus
