extend layout
block container
  div.login-form
    h1 Login
    div.input-fields
      |<p>Username: <input type="text" name="username"></p>
      |<p>Password: <input type="text" name="password"></p> 
    div.login-buttons
      input(type='button', name='Login', value='Login')
      br
      a(href='/forgot') Forgot password
